.correct_section{
  display: block;
  position: relative;
  justify-content: center;
  text-align: center;
}

.congrats_text{
  margin: 100px
}

.congratulations{
  font-size: 96px;
  background: linear-gradient(90deg, rgb(4, 71, 4), #2dce3d, rgb(4, 71, 4));
  background-size: 200% auto;
  -webkit-background-clip: text; 
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  animation: sparkle 3s linear infinite, fadeIn 1s ease forwards;
}

@keyframes sparkle {
  to {background-position: 200% center;}
}

.confirm_suspect{
  color: var(--secondary-red);
  font-size: 64px;
  margin-bottom: 20px;
  animation-name: fadeIn;
}

.full_story{
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
  animation-name: fadeIn;
}

.thanks{
  color: var(--red-accent);
  font-size: 30px;
  animation-name: fadeIn;
}

/* Fade In styling */
.congratulations{animation-delay: 0s;}
.confirm_suspect{animation-delay: 1.5s;}
.full_story{animation-delay: 3s;}
.thanks{animation-delay: 4.5s;}

.fade_item{
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  font-family: var(--font-display);
  margin-bottom: 10px;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}