.question_section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card{
  padding: 40px;
  background-color: #510101;
  border-radius: 35px;
  text-align: center;
}

.card h1{
  color: white;
  font-size: 55px;
  margin-bottom: 25px;
  text-align: center;
}

.buttons{
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 20px;
}

.button_link{
  background-color: #D9D9D9;
  color: var(--red-text);
  text-decoration: none;
  padding: 20px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 35px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 15px 5px rgba(0, 0, 0, 0.1);
}

.button_link:hover{
  transform: translateY(-5px);
}